{% from "govuk/components/tag/macro.njk" import govukTag %}

<table class="govuk-table" data-testid="mdt-reserve-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Reserve testing list</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Order</th>
      <th scope="col" class="govuk-table__header">Prisoner</th>
      <th scope="col" class="govuk-table__header">Location</th>
      <th scope="col" class="govuk-table__header">Last selected month</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for row in view.reserveRows %}
      <tr class="govuk-table__row" data-entry-id="{{ row.entryId }}">
        <td class="govuk-table__cell">{{ row.order }}</td>
        <td class="govuk-table__cell">
          <div>{{ row.prisonerName }}</div>
          <div class="govuk-hint">{{ row.prisonerNumber }}</div>
        </td>
        <td class="govuk-table__cell">{{ row.location }}</td>
        <td class="govuk-table__cell">{{ row.lastSelectedMonth }}</td>
        <td class="govuk-table__cell">
          {% if row.status == "Available as reserve" %}
            {{ govukTag({ text: row.status, classes: "govuk-tag--blue" }) }}
          {% else %}
            {{ govukTag({ text: row.status, classes: "govuk-tag--purple" }) }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
