{% extends "../partials/layout.njk" %}
{% set pageTitle = "Not authorised - DPS" %}
{% block content %}
  <h1 class="govuk-heading-xl">You are not authorised to use this service</h1>
  <p class="govuk-body">If you think you should have access, contact your MDT Coordinator or local administrator.</p>
{% endblock %}
